body,
html {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  color: #222;
  line-height: 20px;
  font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}

header {
  padding: 1em 3em;
  background-color: white;
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
  box-shadow: 0px 1.5px 15px #EFEFEF;
  z-index: 100;
}

.left {
  display: inline-block;
  max-height: 1500px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 2em 3em;
  background-color: #EFEFEF;
}

div.main {
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

.left img {
  padding: .7em 0;
}

.x-axis line {
  stroke: steelblue;
}

.x-axis path {
  stroke: none;
  fill: none;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.art-descrip {
  height: 1550px;
  overflow-y: scroll;
}

.art-descrip h3 {
  line-height: 22px;
  margin-bottom: 0px;
  text-decoration: italic;
}

.art-descrip h2 {
  font-size: 20px;
}

.art-descrip h1 {
  line-height: 30px;
}

.art-descrip p {
  margin-top: 0px;
  margin-bottom: 0px;
}